<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>About us</h2>
        <p>Welcome to Dev Match. We ae a community of developers, entrepreneurs and investors who are interested in meeting 
        more of us, sharing ideas and making them come to life</p>
    </div> 
</div>